<div *appExchangeRates="let rate from rates  delay 7000; controller as ctrl "
     (mouseenter)="cPrev.show();cNext.show()"
     (mouseleave)="cPrev.hide();cNext.hide()"
>
  <button mat-button (click)="ctrl.prev()" appHidden #cPrev="hiddenControl">
    <mat-icon matListIcon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{ rate.value | currency: rate.currency : 'symbol-narrow'}}</span>
  <button mat-button (click)="ctrl.next()" appHidden #cNext="hiddenControl">
    <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
  </button>
</div>
